body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box-container{
    display: flex;

}
.box{
    height: 100px;
    width: 100px;
    background: magenta;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 15px;
    font-size: 24px;

}
.box:nth-child(3):hover {
    width: 200px;
    height: 200px;
    background-color: #3cb7e7;
}